<h1>Payment Calculation</h1>

<form action="/payment/results">
  <div>
    <label for="APR">APR</label>
    <input id="APR" type="text" name="rate" placeholder="E.g. 5.42">
  </div>

  <div>
    <label for="years">Number of years</label>
    <input id="years" type="text" name="num_of_years" placeholder="How many years to repay?">
  </div>
  
  <div>
    <label for="value">Principal</label>
    <input id="value" type="text" name="present_value" placeholder="How much principal?">
  </div>

  <button>Calculate monthly payment</button>
</form>