<h1>Square Calculation</h1>

<form action="/square/results">
  <label for="giraffe">Enter a number</label>
  <input id="giraffe" type="text" name="num_to_square" placeholder="What number do you want to square?">

  <button>Calculate square</button>
</form>