<h1>Square Root Calculation</h1>

<form action="/square_root/results">
  <div>
    <label for="giraffe">Enter a number</label>
    <input id="giraffe" type="text" name="num_to_square_root" placeholder="What number do you want to square_root?">
  </div>

  <button>Calculate square root</button>
</form>